.actions {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
}
@media screen and (max-width: 640px) {
.actions {
  height: 25vh;
}
}
.sort {
  margin-right: 8px !important;
  margin-top: 8px !important;
  height: 40px;
  font-size: 0.8rem !important;
}


.space {
  flex: 1;
}

.sliders {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.slider {
  min-width: 150px;
  margin-right: 16px;
  margin-left: 16px;
}
