.SortingContent {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
}

@media screen and (max-width: 640px) {
  .SortingContent {
    margin-left: 16px;
    margin-right: 16px;
  }
}
