/* MAIN CONTAINER */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */
@media screen and (max-width: 640px) {
  .App-header h1 {
    font-size: 6vw;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  height: 80px;
}

@media screen and (max-width: 640px) {
  .App-header {
    height: 50px;
  }
}

.App-header h1 {
  color: white;
  font-weight: normal;
}

/* CONTENT */
.App-content {
  flex: 1 0 auto;
}

/* FOOTER */
.App-footer {
  margin-top: auto;

  width: 100%;
  background-color: #626c82;
  color: white;

  display: flex;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .App-footer {
    font-size: 3vw;
  }
}
